
@{
    ViewBag.Title = "TJATable";
}

<h3>
@Html.ActionLink("Home Page", "Index", "Home")
</h3>

<h2>Table "Type Journaux Associe"</h2>


<script type="text/javascript">
    var visible = true;

    function TJAJsFunction() {
	
        TypeJournauxAssociePivotGrid.SetCustomizationFieldsVisibility(visible);
        if (visible) {
            visible = false;
        }
        else {
            visible = true;
        }

    }
</script>

@Html.DevExpress().Button(
                settings =>
                {
                    settings.Name = "showTJAJsFunction";

                    settings.Text = "Show Customization Form";
                    settings.Width = 120;
                    settings.ClientSideEvents.Click = "TJAJsFunction";
                }
            ).GetHtml()



@Html.Action("TypeJournauxAssociePivotGridPartial")
