
@{
    ViewBag.Title = "ColisArticlesTable";
}
<h3>
@Html.ActionLink("Home Page", "Index", "Home")
</h3>
<h2>Table "Colis Articles"</h2>

<script type="text/javascript">
    var visible = true;

    function ColisArticlesJsFunction() {
	
        PivotGrid3.SetCustomizationFieldsVisibility(visible);
        if (visible) {
            visible = false;
        }
        else {
            visible = true;
        }

    }
</script>

@Html.DevExpress().Button(
                settings =>
                {
                    settings.Name = "showColisArticles";

                    settings.Text = "Show Customization Form";
                    settings.Width = 120;
                    settings.ClientSideEvents.Click = "ColisArticlesJsFunction";
                }
            ).GetHtml()


@Html.Action("PivotGrid3Partial")
