
@{
    ViewBag.Title = "ColiTable";
}
<h3>
@Html.ActionLink("Home Page", "Index", "Home")
</h3>
<h2>Table "Coli" </h2>

<script type="text/javascript">
    var visible = true;

    function ColiJsFunction() {
	
        Coli.SetCustomizationFieldsVisibility(visible);
        if (visible) {
            visible = false;
        }
        else {
            visible = true;
        }

    }
</script>

@Html.DevExpress().Button(
                settings =>
                {
                    settings.Name = "showColi";

                    settings.Text = "Show Customization Form";
                    settings.Width = 120;
                    settings.ClientSideEvents.Click = "ColiJsFunction";
                }
            ).GetHtml()

@Html.Action("ColiPartial")
