
@{
    ViewBag.Title = "CompteFeuilleTable";
}
<h3>
@Html.ActionLink("Home Page", "Index", "Home")
</h3>
<h2>Table "Compte Feuille"</h2>


<script type="text/javascript">
    var visible = true;

    function CompteFeuilleJsFunction() {
	
        PivotGrid4.SetCustomizationFieldsVisibility(visible);
        if (visible) {
            visible = false;
        }
        else {
            visible = true;
        }

    }
</script>

@Html.DevExpress().Button(
                settings =>
                {
                    settings.Name = "ShowCompteFeuilleJsFunction";

                    settings.Text = "Show Customization Form";
                    settings.Width = 120;
                    settings.ClientSideEvents.Click = "CompteFeuilleJsFunction";
                }
            ).GetHtml()


@Html.Action("PivotGrid4Partial")
